<div class="login-container">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required autocomplete="on" />
                <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    Please enter a valid email.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" required autocomplete="on" />
                <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    Password must be at least 4 characters.
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>

            <p class="signup-ask">Do not have any account? <a (click)="goToSignUp()">Sign Up</a></p>
        </form>
    </mat-card>
</div>