.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

mat-card {
    width: 400px;
    padding: 20px;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

mat-error {
    color: red;
    margin-bottom: 15px;
}

mat-card-title {
    margin-bottom: 20px;
}

.signup-ask {
    margin-top: 15px;
    a {
        cursor: pointer;
        color: blue;
    }
    a:hover {
        text-decoration: underline;
    }
}
